.tool-bar {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px;
  margin-bottom: 0px;
}

.tool-item {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.timer-select {
  /* padding: 6px 10px; */
  font-size: 16px;
  background-color: bisque;
  font-weight: bold;
}

.toggle-btn {
    font-weight: bold;
  /* padding: 6px 12px; */
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.toggle-btn.active {
  background-color: rgb(247, 247, 195);
  color: black;
  font-weight: bold;
}

.refresh-btn {
  /* padding: 6px 12px; */
  background-color: #060606;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-weight: bold;
}

.refresh-btn:hover {
  background-color: #0056b3;
  
}
